$body-color: #120B3B;
$main-color-dark: #332391;
$main-color-light: #846EFF;
$second-color-light: #6EA6FF;
$highlight-color: #B7B3FF;
$button-color: #8806F7;
$contrast-color: #07f2e3;
$typo-color: #fff;

$main-font: "Roboto Mono";

// GRID
$grid-width: 132rem;
$gutter-vertical: 6rem;
$gutter-horizontal: 6rem;
